
.page-content {
  padding-top: 12rem;
}

.response-content {
  padding-top: 2rem;
}

.wallet-content {
  padding-top: 2rem;
}

.footer-content {
  padding-top: 1.5rem;
}

.transaction-content {
  padding-top: 1rem;
}

.main-form {
  padding-top: 3rem;
}
